@model Tuple<string, List<Person>,  List<Team>, List<TeamMember>, string[], string[], List<string>>
@{
    ViewData["Title"] = "Admin Dashboard";
    ViewData["ID Reserve"] = "null";
    ViewData["ID Overview"] = "null";
    ViewData["ID Team"] = "current_page";
    ViewData["ID Admin Dashboard"] = "null";
    ViewData["PersonId"] = Model.Item1;
    ViewData["ProfilePicture"] = GetProfilePicture(Model.Item1);

    string GetProfilePicture(string personId)
    {
        foreach (var item in Model.Item2)
        {
            if (personId == item.PersonId.ToString())
            {
                return item.Image;
            }
        }
        return "./img/NGTI Logo.png";
    }

    string[][] day_array = new string[Model.Item7.Count][];
    for(int k = 0; k < Model.Item5.Length; k++) {
        day_array[k] = Model.Item5[k].Split("|", options: StringSplitOptions.RemoveEmptyEntries);
    }
    string[][] ts_array = new string[Model.Item7.Count][];
    for (int k = 0; k < Model.Item6.Length; k++) {
        ts_array[k] = Model.Item6[k].Split("|", options: StringSplitOptions.RemoveEmptyEntries);
    }
}

<head>
    <meta charset="utf-8" />
    <link href="./css/site.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="teams_page">
        <div class="teams">
            <h1 id="t_h1">Teams</h1>
            <form asp-action="Create">
                <button id="create_button" type="submit">Add team</button>
                <input type="hidden" value="@Model.Item1" name="PersonId"/>
                <input id="teamname" type="text" name="TeamName" placeholder="TeamName" />
                <div class="person_selection">
                    @{
                        int i = 0;
                        foreach (var item in Model.Item2)
                        {
                            <div>
                                <input type="checkbox" id="p@(i)" name="selectedPersons" value="@item.PersonId" />
                                <label for="p@(i)">@item.PersonName</label>
                            </div>
                            i++;
                        }
                    }
                </div>
            </form>
            <div class="team_configuration">
                @{
                    foreach (Team team in Model.Item3) {
                        foreach (TeamMember tm in Model.Item4) {
                            if (Model.Item1 == tm.PersonId.ToString() && tm.TeamId == team.TeamId) {
                                <div class="team">
                                    <form asp-action="show_team">
                                        <button>@team.TeamName</button>
                                        <input type="hidden" value="@Model.Item1" name="PersonId" />
                                        <input type="hidden" value="@team.TeamId" name="TeamId" />
                                    </form>
                                    @foreach (TeamMember tm2 in Model.Item4) {
                                        if (tm2.TeamId == team.TeamId) {
                                            foreach (Person p in Model.Item2) {
                                                if (p.PersonId == tm2.PersonId) {
                                                    <p>@p.PersonName</p>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            }
                        }

                    }
                }
            </div>
        </div>
        <div class="team_reservations">
            <h1>Team Reservations</h1>
            <div class="all_members">
                @* load reservations for each member - 1 div per member*@
                @for ( int j = 0; j < Model.Item7.Count; j++)
                {
                    <div class="member_reservations">
                        <h2>@Model.Item7[j]</h2>
                        <div class="line"></div>
                        <div class="reservation_displays">
                            @* 1 display = 1 day of reservations --> use implementation at home screen (no remove button)*@
                            @for(int q = 0; q < day_array[j].Length; q++)
                            {
                                <div class="display">
                                    <p>@day_array[j][q]<br />@ts_array[j][q]</p>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</body>